.gradle
**/build/
!**/src/**/build/

# Gradle
gradle-app.setting
.gradletasknamecache

# Gradle Wrapper
!gradle-wrapper.jar
!gradle-wrapper.properties

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db